{% extends 'commodityapp/base.html' %}
{% load staticfiles %}

{% block title %}
    register
{% endblock %}
{% block register %}

{% endblock %}
{% block nav %}


    <div class="content content-nav-base  login-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="{% url 'commodity:commoditys' '' '' '' %}" class="active">所有商品</a>
                    <a href="{% url 'commodity:buyToday' %}">今日团购</a>
                    <a href="{% url 'commodity:information' %}">母婴资讯</a>
                    <a href="{% url 'commodity:about' %}">关于我们</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block html_foot %}

    <div class="login-bg">
        <div class="login-cont w1200">
            <div class="form-box">
                <form class="layui-form" action="{% url 'commodity:register' %}" method="post">
                    {% csrf_token %}
                    <legend>注册</legend>
                    <p style="color: red">{{ message }}</p>

                    <div class="layui-form-item">
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-cellphone iphone-icon"></i>
                                <input type="tel" name="phone" id="phone" lay-verify="required|phone"
                                       placeholder="请输入手机号" autocomplete="off" class="layui-input">
                                <input type="text" name="name" placeholder="昵称" class="layui-input" autocomplete="off">

                            </div>
                        </div>
                        <div class="layui-inline veri-code">
                            <div class="layui-input-inline">
                                <input id="pnum" type="password" name="pnum" lay-verify="required" placeholder="请输入密码"
                                       autocomplete="off" class="layui-input">
                                <input id="pnum" type="password" name="two_pnum" lay-verify="required"
                                       placeholder="请确认密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item login-btn">
                        <div class="layui-input-block">
                            <input type="submit" value="注册" class="layui-btn">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="footer">
        <div class="ng-promise-box">
            <div class="ng-promise w1200">
                <p class="text">
                    <a class="icon1" href="javascript:;">7天无理由退换货</a>
                    <a class="icon2" href="javascript:;">满99元全场免邮</a>
                    <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
                </p>
            </div>
        </div>
        <div class="mod_help w1200">
            <p>
                <a href="javascript:;">关于我们</a>
                <span>|</span>
                <a href="javascript:;">帮助中心</a>
                <span>|</span>
                <a href="javascript:;">售后服务</a>
                <span>|</span>
                <a href="javascript:;">母婴资讯</a>
                <span>|</span>
                <a href="javascript:;">关于货源</a>
            </p>
            <p class="coty">母婴商城版权所有 &copy; 2012-2020</p>
        </div>
    </div>
    <script type="text/javascript">
        layui.config({
            base: '/static/project_static/js/util' //你存放新模块的目录，注意，不是layui的模块目录
        }).use(['jquery', 'form'], function () {
            var $ = layui.$, form = layui.form;


            $("#find").click(function () {
                if (!/^1\d{10}$/.test($("#phone").val())) {
                    layer.msg("请输入正确的手机号");
                    return false;
                }
                var obj = this;
                $.ajax({
                    type: "get",
                    url: "../json/login.json",
                    dataType: "json",//返回的
                    success: function (data) {

                        if (data.result) {
                            $("#find").addClass(" layui-btn-disabled");
                            $('#find').attr('disabled', "true");
                            settime(obj);
                            $("#msg").text(data.msg);
                        } else {
                            layer.msg(data.msg);
                        }
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            })
            var countdown = 60;

            function settime(obj) {
                if (countdown == 0) {
                    obj.removeAttribute("disabled");
                    obj.classList.remove("layui-btn-disabled")
                    obj.value = "获取验证码";
                    countdown = 60;
                    return;
                } else {

                    obj.value = "重新发送(" + countdown + ")";
                    countdown--;
                }
                setTimeout(function () {
                        settime(obj)
                    }
                    , 1000)
            }
        })
    </script>
    <style type="text/css">
        legend{
            margin-bottom: -20px;
        }

    </style>

    </body>
    </html>
{% endblock %}
